@import url('https://fonts.googleapis.com/css?family=Lato:400,900%7CRoboto:400,700&display=swap');

body {
  background-color: #d0d0d8;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #171856;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #822825;
  font-size: 30px;
  text-align: center;
}

p {
  color: #171856;
  font-size: 20px;
  font-weight: 700;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  background-color: #FFFFFF;
  padding: 30px;
  font-size: 30px;
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li:hover {
  opacity: 0.5;
}

img {
  height: 100px;
  width: 100px;
}
